@mixin gradient {
    background-image: linear-gradient(to bottom, $color-secondary, $color-primary);
}
@mixin hover-effect {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    border-radius: 25px;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 28px -1px lighten($color-primary, 20);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
}