$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-wite: #fff;
$color-black: #000;
$color-background-one: #EAEAEA;
$color-background-two: #F6F6F6;
$color-background-footer: #353535;

$box-shadow-card-choice: 0px 0px 17px -4px $color-black;

$animation-delay: 0.3s;
