.menu-heart {
    position: relative;
}
.heart {
    position: absolute;
    width: 25px;
    transform-origin: top;
    cursor: pointer;
}
.heart--anim {
    width: 25px;
    transform-origin: bottom;
    transform: scale(0);
    fill: url(#grad);
    transition: transform .4s;
    cursor: pointer;
    &:hover {
        transform: scale(1.01);
    }
}
.heart:hover + .heart--anim {
    transform: scale(1.01);
    transition: transform .4s;
  }