// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\    Index    ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
.icon-phone {
    width: 15px;
}
.icon-menu {
    width: 17px;
}
.icon-market {
    width: 20px;
}
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\    Menu    ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
.arrow {
    position: absolute;
    width: 18px;
    top: 25px;
    left: 23px;
    fill-opacity: 0.7;
}
.card-icon {
    width: 30px;
    margin: auto;
    transition: transform 1s;
}