// * {
//     border: solid 1px black;
// }
// body {
//     display: flex;
//     flex-direction: column;
// }
// Section 1
.restaurant-image img{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

// Section 2 
// contener-menu
.contener-menu {
    // width: 80%;
    margin: auto;
    border-radius: 40px 40px 0 0;
    background-color: #F6F6F6;
    margin-top: -36px;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    &-title {
        display: flex;
        width: 350px;
        justify-content: space-between;
        align-items: center;
        // padding: 35px 38px 0 20px;
        padding: 35px 25px 0 8px;
        margin: auto;
        & h1 {
            font-size: 28px ;
            font-family: 'Shrikhand', cursive;
        }
    }
    &__title h2{
        width: 350px;
        font-size: 16px;
        font-weight: 300;
        margin: 37px auto 16px auto;
        padding-left: 7px;
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            margin-top: 3px;
        }
    }
    &__btn {
        padding: 38px 0 75px 0;
        &__span {
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 50px;
            background-color: red;
            background-image: linear-gradient(to top left, $color-primary, $color-secondary);
            padding: 0 20px 0 20px;
        }
    }
}
.btn {
    width: 300px;
    margin: auto;
}
























.menu-heart {
    position: relative;
}
.heart {
    width: 25px;
}
.heart--anim {
    width: 25px;
    left: 0;
    transform-origin: bottom;
    position: absolute;
    transform: scale(0);
    fill: url(#grad3);
    &:hover {
        transform: scale(1);
        transition: transform 2s;
    }
}
.heart:hover + .heart--anim {
    transform: scale(1);
    transition: transform 2s;
  }























.choice {
    display: flex;
    margin: auto auto 14px auto;
    width: 350px;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    &-1 {
        opacity: 0;
        animation: choice-number 1s both;
    }
    &-2 {
        opacity: 0;
        animation: choice-number 1s both;
        animation-delay: 0.3s;
    }
    &-3 {
        opacity: 0;
        animation: choice-number 1s both;
        animation-delay: 0.6s;
    }
    &__contener-text-price {
        display: flex;
    }
    &__title {
        margin: 0;
        padding: 13px 0 6px 10px;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover .choice__title {
        width: 275px;
        transition: 1s;
    }
    &__text {
        margin: 0;
        width: 305px;
        font-size: 15px;
        padding: 0 0 12px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &:hover .choice__text {
        width: 230px;
        transition: 1s;
    }
    &__price {
        margin: 0;
        width: 45px;
    }
    &__valid {
        display: flex;
        margin: 0;
        width: 60px;
        height: 100%;
        fill: white;
        background-color: $color-tertiary;
    }
    &:hover .choice__valid {
        transform: rotate(180deg);
        transition: transform 3s;
    }
    &:hover .choice__move {
        animation: valid 1s;
        animation-fill-mode: both;
    }
    &:hover .card-icon {
        width: 30px;
        margin: auto;
        transform: rotate(1turn);
        transition: transform 1s;
    }
}
@keyframes choice-number {
    0% {
        opacity: 0;
        transform: translateY(5px);
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}
@keyframes valid {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(15px);
    }
}

