// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\   Loader   ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
@use "../1-Utils/variables" as v;
@use "../1-Utils/mixins" as m;

.loader {
    z-index: 999;
    animation: loader 3s both steps(1);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: v.$color-black, $alpha: 0.8);
    &__spinner {
        position: relative;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: v.$color-primary;
        border-bottom-color: v.$color-primary;
        animation: spin 3s linear infinite;
        opacity: 0.9;
        &::before {
            content: "";
            position: absolute;
            top: 15px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            border-radius: 50px;
            border: 4px solid v.$color-secondary;
            opacity: 0.5;
            }
        &::after {
            content: "";
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            border-radius: 50px;
            border: 5px solid transparent;
            border-right-color: v.$color-tertiary;
            border-left-color: v.$color-tertiary;
            animation: spinreverse 2s linear infinite;
            opacity: 1;
        }
    }
}
@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -999;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spinreverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    } 
}
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\  Location  ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
.location {
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
    box-shadow: 0px 0px 10px -2px lighten(v.$color-black, 20);
    background-color: v.$color-background-one;

    &__icon {
        position: absolute;
        margin-right: 12px;
        left: -28px;
        width: 12px;
    }
    &__text {
        position: relative;
        font-weight: bold;
        opacity: 0.8;
    }
}
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\   Title    ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
.title {
    background-color: v.$color-background-two;
    &__h1 {
        width: 65%;
        margin: auto;
        padding-top: 40px;
        text-align: center;
        font-size: 24px;
    }
    &__text {
        text-align: center;
        margin: auto;
        padding-top: 13px;
        font-size: 18px;
        font-weight: 300;
    }
    &__btn {
        padding: 46px 0 75px 0;
        text-align: center;
        font-weight: 500;
        &__a {
            @include m.gradient-btn;
            padding: 15px 21px 15px 21px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\  Tutorial  ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
.tutorial {
    &-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 85%;
        margin: auto;
        gap: 20px;
        @media all and (min-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 20px;
            width: 90%;
            margin: auto;
        }
    }
    &-btn {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 25px 0px 25px 25px;
        border-radius: 25px;
        box-shadow: v.$box-shadow-card-choice;
        background-color: v.$color-background-two;
        font-weight: 500;
        &:hover {
            &::before {
                opacity: 1;
                z-index: 0;
            }
        }
        &::before {
            @include m.hover-effect;
            background-color: lighten(v.$color-primary, 35);
            }
        &__number {
            position: absolute;
            padding: 5px 8px 3px 8px;
            border-radius: 50px;
            background-color: v.$color-primary;
            color: v.$color-wite;
            left: -8px;
            font-size: 13px;
        }
        &__txt {
            position: relative;
        }
        &__icon {
            position: absolute;
            left: -38px;
            &--hover {
                fill: v.$color-primary;
                opacity: 0;            
            }
        }
        &:hover .tutorial-btn__icon--hover{
            opacity: 1;
        }
        &__text {
            padding: 30px;
            border-radius: 25px;
            background-color: v.$color-background-two;
        }
    }
}
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\    Card    ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
.card {
    position: relative;
    width: 90%;
    margin: auto auto 20px auto;
    border-radius: 20px;
    box-shadow: v.$box-shadow-card-choice;
    &:hover {
        &::before {
            opacity: 1;
            z-index: 0;
        }
    }
    &::before {
        @include m.hover-effect;
        background-color: lighten(v.$color-primary, 35);
    }
    &__new {
        position: absolute;
        right: 14px;
        top: 13px;
        padding: 7px 14px 5px 13px;
        background-color: v.$color-tertiary;
        font-size: 13.5px;
        font-weight: 600;
        & p{
            margin: 0;
            color: darken(v.$color-tertiary,35);
        }
    }
    &__img {
        position: relative;
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        &__text {
            margin: 0 0 0 14px;
            & h3 {
                margin: 11px 0 0 0;
                font-size: 18px;
            }
            & p {
                margin: 6px 0 14px 0;
                font-size: 17px;
                font-weight: 300;
            }
        }
        &__heart {
            margin: 12px 22px 0 0;
        }
    }
}
