@use "../1-Utils/variables" as v;
@use "../1-Utils/mixins" as m;

// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\  Main-img  ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
.restaurant-image img{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\    Menu    ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\

.menu {
    display: flex;
    flex-direction: column;
    &-title {
        display: flex;
        margin: auto;
        width: 350px;
        justify-content: space-between;
        align-items: center;
        padding: 35px 25px 0 8px;
        & h1 {
            font-size: 28px ;
            font-family: 'Shrikhand', cursive;
        }
    }
    &__title h2{
        width: 350px;
        font-size: 16px;
        font-weight: 300;
        margin: 37px auto 16px auto;
        padding-left: 7px;
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background-color: v.$color-tertiary;
            margin-top: 3px;
        }
    }
    &__btn {
        padding: 38px 0 75px 0;
        &__a {
            @include m.gradient-btn;
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            width: 190px;
            height: 50px;
            padding: 0 20px 0 20px;
        }
    }
}
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
// \\\\\\\\\\   Choice   ////////// \\
// \\\\\\\\\\ !!!!!!!!!! ////////// \\
.choice {
    display: flex;
    position: relative;
    margin: auto auto 14px auto;
    width: 350px;
    overflow: hidden;
    background-color: v.$color-wite;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: v.$box-shadow-card-choice;
    &__menu {
        position: relative;
    }
    &-1 {
        @include m.spawn-choice;
    }
    &-2 {
        @include m.spawn-choice;
        animation-delay: v.$animation-delay;
    }
    &-3 {
        @include m.spawn-choice;
        animation-delay: v.$animation-delay*2;
    }
    &-4  {
        @include m.spawn-choice;
        animation-delay: v.$animation-delay*3;
    }
    &__container-text-price {
        position: relative;
        display: flex;
    }
    &__title {
        position: relative;
        margin: 0;
        width: 305px;
        padding: 13px 0 6px 10px;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 1s;
    }
    &:hover .choice__title {
        margin-right: 10px;
        width: 275px;
        transition: 1s;
    }
    &__text {
        position: relative;
        margin: 0;
        width: 305px;
        font-size: 15px;
        padding: 0 0 12px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 1s;
    }
    &:hover .choice__text {
        margin-right: 10px;
        width: 235px;
        transition: 1s;
    }
    &__price {
        margin: 0;
        width: 45px;
    }
    &__valid {
        position: relative;
        display: flex;
        margin: 0;
        width: 60px;
        height: 100%;
        fill: v.$color-wite;
        background-color: v.$color-tertiary;
    }
    &:hover .card-icon {
        transform: rotate(1turn);
    }
}
@keyframes choice-number {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}