@use "../1-Utils/variables" as v;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card__img {
    width: 200px;
}
a {
    text-decoration: none;
    color: v.$color-black;
}
ul {
    list-style-type: none;
}