// import google font 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;

* {
    font-family: 'Roboto', sans-serif;
}
h1 {
    // font-size: 10rem;
}
h2 {
    margin: 45px auto 25px auto;
    width: 90%;
}
.h2-tutorial {
    @media all and (min-width: 992px){
        text-align: center;
    }
}
.h2-restaurants {
    margin: 55px auto 22px auto;
    @media all and (min-width: 992px){
        text-align: center;
    }
}
h4 {
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    padding-top: 23px;
    padding-bottom: 20px;
}